.wrapper {
  width: 100%;
  display: block;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  padding-left: 4px;
  padding-right: 4px;
}
.c-1 {
  max-width: 8.33333%;
  flex: 0 0 8.33333%;
}
.c-2 {
  max-width: 16.66667%;
  flex: 0 0 16.66667%;
}
.c-3 {
  max-width: 25%;
  flex: 0 0 25%;
}
.c-4 {
  max-width: 33.33332%;
  flex: 0 0 33.33332%;
}
.c-5 {
  max-width: 41.66665%;
  flex: 0 0 41.66665%;
}
.c-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
.c-7 {
  max-width: 58.33333%;
  flex: 0 0 58.33333%;
}
.c-8 {
  max-width: 66.666664%;
  flex: 0 0 66.666664%;
}
.c-9 {
  max-width: 75%;
  flex: 0 0 75%;
}
.c-10 {
  max-width: 83.3333%;
  flex: 0 0 83.3333%;
}
.c-11 {
  max-width: 91.66663%;
  flex: 0 0 91.66663%;
}
.c-12 {
  max-width: 100%;
  flex: 0 0 100%;
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: 984px;
  }
  .container .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .container .col {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 644px;
  }
}
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
}
